<div class="container">
    <div class="top">
        <h2>PROFITEZ DE NOTRE SALLE DE SPORT SANTÉ ET BIEN-ÊTRE POUR UN PRIX RAISONNABLE.</h2>
        <p>Klipsan Fitness est une salle de sport où vous ne serez jamais jugé(e). Notre abonnement vous donne droit à des cours
        virtuels ou en salle pour vous aider à atteindre vos objectifs sportifs. Découvrez ci-dessous toutes les offres de notre
        club.</p>
    </div>
    <div class="middle">
        <img src="/fitness-portrait-young-active-woman-barbell-training-studio-34988563.webp" alt="">
        <img src="/fitness-stretching-woman-studio-health-wellness-training-motivation-soft-aesthetic-background-mockup-exercise-indian-260430338.webp" alt="">
    </div>
    <div class="bottom">
        <div class="title">
            <h2>AMÉNAGEMENTS</h2>
            <p>À Klipsan Fitness, nous faisons régulièrement l'acquisition de nouveaux équipements pour répondre aux besoins de nos
            membres. Vous souhaitez ajouter quelque chose à notre liste ? Faites une demande.</p>
        </div>
        <div class="liste">
            <div class="one">
                <app-listes firstElem="Équipements modernes" secondeElem="Cours de qualité" thirdElem="Entraîneurs personnels" ForElem="Mur d'escalade" fiveElem="Ring de boxe"></app-listes>
            </div>
            <div class="two">
                <app-listes firstElem="Bar à jus" secondeElem="Nutrition" thirdElem="Passes invités mensuels" ForElem="Terrains de basket-ball" fiveElem="Casiers"></app-listes>
            </div>
        </div>
    </div>
</div>