a {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    width: 90px;
    text-decoration: none;
    transition: 0.6s
}

a:hover {
    text-decoration: underline;
    color: #f0a500;
}
