.main {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

h2 {
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}
p{
    font-size: 20px;
    line-height: 1.9;
}