<form action="">
    <p>Nom <span>(obligatoire)</span></p>
    <div class="name">
        <div class="prenom">
            <label for="">Prénom</label>
            <input type="text" name="prenom" id="prenom" required>
        </div>
        <div class="nom">
            <label for="">Nom</label>
            <input type="text" name="nom" id="nom" required>
        </div>
    </div>
    <div class="mail">
        <label for="">Mail <span>(obligatoire)</span></label>
        <input type="email" name="mail" id="mail" required>
    </div>
    <div class="date">
        <label for="">Date <span>(obligatoire)</span></label>
        <input type="date" name="" id="">
    </div>
    <button>Envoyer</button>
</form>